@using System.Linq
@model IEnumerable<object>
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["AdminUsersTitle"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>@Localizer["AdminUsersTitle"]</h3>
<table class="table">
<thead><tr><th>@Localizer["User"]</th><th>@Localizer["Email"]</th><th>@Localizer["Roles"]</th></tr></thead>
<tbody>
@foreach(var u in Model){
    var type = u?.GetType();
    var userName = type?.GetProperty("UserName")?.GetValue(u)?.ToString() ?? string.Empty;
    var email = type?.GetProperty("Email")?.GetValue(u)?.ToString() ?? string.Empty;
    var rolesValue = type?.GetProperty("Roles")?.GetValue(u) as IEnumerable<string> ?? Enumerable.Empty<string>();
    <tr>
        <td>@userName</td>
        <td>@email</td>
        <td>@string.Join(", ", rolesValue)</td>
    </tr>
}
</tbody>
</table>
<form method="post" asp-action="AddRole" class="row g-2">
    <div class="col-auto"><input name="role" class="form-control" placeholder="@Localizer["RoleNamePlaceholder"]"/></div>
    <div class="col-auto"><button class="btn btn-primary">@Localizer["AddRoleButton"]</button></div>
</form>
